# ================
# BACKEND (Django)
# ================
backend/__pycache__/
backend/**/*.pyc
backend/**/*.pyo
backend/.venv/
backend/db.sqlite3
backend/db.sqlite3-journal
backend/media/
backend/staticfiles/
backend/.env

# ================
# FRONTEND (React)
# ================
financefy-web/node_modules/
financefy-web/dist/
financefy-web/.vscode/
financefy-web/.env
financefy-web/.env.*

# ================
# Global ignores
# ================
.DS_Store
Thumbs.db
*.log
