# Django
*.pyc
__pycache__/
db.sqlite3
media/
*.log

# Virtualenv (geralmente gerado automaticamente)
.env/
.venv/
venv/
env/
*.pyc

# React (frontend)
node_modules/
build/
.env

# IDEs e editores
.idea/
.vscode/
*.swp

# Outros arquivos temporários
*.bak
*.tmp
